$s-wrapper-max-height: 95vh;
$s-navigation-height: 3rem;

.slv-ContactForm {
  display: block;
  position: relative;

  background-color: $c-primary;
  max-height: $s-wrapper-max-height;
  max-width: 100vw;
  overflow: auto;

  width: 100%;
  height: 100%;

  font-family: Europa, Arial, sans-serif;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
  & * {
    box-sizing: border-box;
  }
}

.slv-ContactForm-questionsContainer {
  display: block;
  width: 100%;
  overflow: auto;
  text-align: right;
  max-height: calc(#{$s-wrapper-max-height} - #{$s-navigation-height});
}

.slv-ContactForm-navigation {
  display: block;
  position: relative;
  width: 100%;
  background-color: $c-primary;
  border-top: 2px solid $c-primary-border;
  text-align: right;
  padding: .2em $s-right-padding;
  height: $s-navigation-height;
}

.slv-ContactForm-navigation-button {
  font-size: $s-font-small;
  padding: .5em 1em;
}


.slv-ContactForm-question {
  opacity: .1;
  // transform: scale(.9);
}

.slv-ContactForm-spacing {
  display: block;
  width: 1px;
  opacity: 0;
  height: 60vh;
}

.slv-ContactForm-question--active {
  opacity: 1;
  margin: 5em auto;
  transform: scale(1);
}


.slv-ContactForm-question-legend {
  font-size: $s-font-medium-large;
  padding-left: $s-left-padding;
  padding-right: $s-right-padding;
  margin: 0;
  text-align: left;
}

.slv-ContactForm-question-answerBox {
  padding-top: 37px;
  padding-right: $s-right-padding;
  padding-bottom: .4em;
  padding-left: $s-left-padding;
}
.slv-ContactForm-question-answerButton {
  padding-left: $s-left-padding;
  padding-right: $s-right-padding;
  text-align: right;
}
