
.fl-if_FormField {
  opacity: .2;
  // transform: scale(.9);
  margin: 1em 0;
  transition: all .3s ease-in-out;

  &:first-child {
    margin-top: 10vh;
  }

  &:last-child {
    margin-bottom: 10vh;
  }

  &--active {
    opacity: 1;
    // margin: 5em auto;
    transform: scale(1);
  }
}

.fl-if_FormField-legend {
  font-size: $s-font-medium-large;
  padding-left: $s-left-padding;
  padding-right: $s-right-padding;
  margin: 0;
  text-align: left;
}

.fl-if_FormField-input {
  padding-top: 37px;
  padding-right: $s-right-padding;
  padding-bottom: .4em;
  padding-left: $s-left-padding;
}

.fl-if_FormField-okButtonContainer {
  padding-left: $s-left-padding;
  padding-right: $s-right-padding;
  text-align: right;
}

.fl-if_FormField-okButton {
  @include fl-if-button();
}

.fl-if_Text, .fl-if_Textarea {
  min-height: 4em;
  width: 100%;
  margin: 0;
  padding: 10px;

  font-family: $f-main;
  font-size: $s-font-medium;

  background-color: transparent;
  border: 2px solid transparent;
  border-bottom-color: $c-secondary;
  border-radius: 5px;

  box-sizing: border-box;
  color: $c-primary-text;
  display: inline-block;

  overflow-x: auto;
  overflow-y: auto;
  resize: none;
  white-space: pre-wrap;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;

  .fl-if_FormField--active & {
    outline: 0;
    border: 2px dashed $c-secondary-text;
  }

  &:placeholder-shown {
  }
}
