
.fl-if_FormField {
  transform: scale(.98);
  margin: 1em 0 37px;
  transition: all .3s ease-in-out;

  padding-right: $s-right-padding;
  padding-left: $s-left-padding;
  text-align: left;
  //Inactive styles
  opacity: .2;

  &:first-child {
    margin-top: 500px;
  }

  &:last-child {
    margin-bottom: 500px;
  }

  &--active {
    pointer-events: all;
    opacity: 1;
    // margin: 5em auto;
    transform: scale(1);
  }
}

.fl-if_FormField-legend {
  font-size: $s-font-medium-large;
  padding: 0;
  text-align: left;
  position: relative;

  margin: 0 0 37px;

  @media(max-height: $screen-tiny-height) {
    margin: 0 0 10px;
  }
}

.fl-if_FormField-okIcon {
  position: absolute;
  left: - 1.3em;
  top: .12em;
  color: $c-valid-2;
  opacity: 0;
  transition: opacity .4s ease-in-out;

  .fl-if_FormField--completed & {
    opacity: 1;
  }
}
