$s-navigation-height: 3rem;

.fl-if_Form {
  display: block;
  position: relative;

  background-color: $c-primary;
  max-width: 100vw;
  overflow: auto;

  width: 100%;
  height: 100%;

  font-family: Europa, Arial, sans-serif;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
  & * {
    box-sizing: border-box;
  }
}


.fl-if_Form-questions {
  display: block;
  width: 100%;
  max-height: calc(100% - #{$s-navigation-height});
  
  overflow: auto;
  text-align: right;
}
