$s-navigation-height: 3rem;

.fl-if_FormUI {
  display: block;
  position: relative;

  background-color: $c-primary;
  max-width: 100vw;
  overflow: auto;

  width: 100%;
  height: 100%;

  font-family: Europa, Arial, sans-serif;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;

  & * {
    box-sizing: border-box;
  }
}

.fl-if_FormUI-questionsViewBox {
  display: block;
  width: 100%;
  max-height: calc(100% - #{$s-navigation-height});
  overflow: hidden;
}

.fl-if_FormUI-questions {
  display: block;
  width: 100%;
  text-align: right;
  padding: 1px 1px 50vh; // Get rid of margin collapsing
  will-change: transform;
  transition: transform .4s ease-in-out;
}
