.slv-text-input {
  min-height: 4em;
  width: auto;
  margin: 0;
  padding: 10px;

  font-family: $f-main;
  font-size: $s-font-medium;

  background-color: transparent;
  border: 2px solid transparent;
  border-bottom-color: $c-secondary;

  box-sizing: border-box;
  color: $c-primary-text;
  display: inline-block;

  overflow-x: auto;
  overflow-y: auto;
  resize: none;
  white-space: pre-wrap;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;

  &:focus {
    outline: 0;
    border: 2px dashed $c-secondary-text;
    border-radius: 5px;
  }

  &:placeholder-shown {
  }
}
