$f-main: Europa, Arial, sans-serif;

$s-font-small: 16px;
$s-font-medium: 18px;
$s-font-medium-large: 24px;

$s-left-padding: 10vw;
$s-right-padding: 5vw;

$c-primary: #E6F7FE;
$c-primary-text: #434f69;
$c-primary-border: darken($c-primary, 70%);

$c-secondary: rgb(66, 79, 102);
$c-secondary-text: #AAAAAA;

$c-accent: #1aaba4;
$c-accent-text: white;
