@mixin options-input() {
  display: inline-block;
  min-width: 13em;
  pointer-events: none;

  .fl-if_FormField--active & {
    pointer-events: all;
  }


  $c-radio-checked-bg: rgba($c-valid-2, .2);
  $c-radio-checked-hover-bg: darken($c-radio-checked-bg, 10%);

  &-option {
    display: inline-block;
    border: 1px solid $c-primary-border;
    border-radius: 4px;
    text-align: left;
    margin: .2em 0;
    padding: .2em .5em;
    width: 100%;
    cursor: pointer;
    user-select: none;

    &::before {
      content: ' ';
      display: inline-block;
      width: 1em;
      height: 1em;
      border-radius: 4px;
      background: linear-gradient(lighten($c-secondary-text, 20%), lighten($c-secondary-text, 10%));
      border: 1px solid $c-primary-border;
      position: relative;
      top: .1em;
      margin-right: .5em;
    }

    &:hover,
    &:focus {
      outline: 0;
      background-color: rgba($c-secondary, .1);
    }
  }

  &-option--selected {
    background-color: $c-radio-checked-bg;

    &::before {
      background: linear-gradient($c-valid, lighten($c-valid, 10%));
    }

    &:hover,
    &:focus {
      background-color: $c-radio-checked-hover-bg;
    }
  }
}

.fl-if_RadioBtns {
  @include options-input();
  &-option::before{
    border-radius: 50%;
  }
}

.fl-if_Checkboxes {
  @include options-input();
}
