.fl-if_TextBox {
  padding: 0 0 .4em;


  &-error {
    background-color: $c-error;
    color: $c-error-text;
    padding: .5em;
    border-radius: 4px;
    position: relative;
    margin-top: 1em;
    display: inline-block;

    &::before {
      $s-triangle-width: .5em;
      $s-triangle-height: .5em;

      content: '';
      position: absolute;
      background-color: transparent;
      display: block;
      width: 0;
      top: -$s-triangle-height;
      left: 1em;
      border-style: solid;
      border-color: $c-error transparent;
      border-width: 0 $s-triangle-width $s-triangle-height;
    }
  }
}

.fl-if_TextBox-input {
  min-height: 4em;
  width: 100%;
  margin: 0;
  padding: .1em 1em;
  max-width: 25em;

  font-family: $f-main;
  font-size: $s-font-medium-large;

  background-color: transparent;
  border: 2px dashed $c-secondary-text;
  border-radius: 5px;

  color: $c-primary-text;
  display: inline-block;

  resize: none;
  white-space: pre-wrap;
  font-smoothing: subpixel-antialiased;
  user-select: text;

  transition: border-color .4s ease-in-out;

  &:focus {
    outline: 0;
  }

  .fl-if_FormField--active & {
    outline: 0;
  }

  .fl-if_FormField--completed.fl-if_FormField--active & {
    border-color: $c-valid;
  }
}
