.fl-if_TextInput {
  padding: 0 0 .4em;

  &-input {
    min-height: 4em;
    width: 100%;
    margin: 0;
    padding: .1em 1em;
    // max-width: 25em;

    font-family: $f-main;
    font-size: $s-font-medium-large;

    background-color: transparent;
    border: 2px dashed $c-secondary-text;
    border-radius: 5px;

    color: $c-primary-text;
    display: inline-block;

    resize: none;
    white-space: pre-wrap;
    font-smoothing: subpixel-antialiased;
    user-select: text;

    transition: border-color .4s ease-in-out;

    &:focus {
      outline: 0;
    }

    .fl-if_FormField--active & {
      outline: 0;
    }

    .fl-if_FormField--completed.fl-if_FormField--active & {
      border-color: $c-valid;
    }
  }
}

.fl-if_TextAreaInput-input {
  min-height: 8em;
  padding-top: .7em;
  padding-bottom: .7em;
}
